html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/* UTILIDADES */

.boton {
    background-color: #116f79;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    text-align: center;
    border: none;
    border-radius: 1rem;
}

.boton:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

.color-fondo-secundarias {
    background-color: #f6f9f9;
}


/* HEADER */

.site-header {
    background-color: #212529;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-image: url(../img/pexels-pixabay-163317.jpg);
    background-position: center center;
    background-size: cover;
    height: 90vh;
    min-height: 40rem;
}

.barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #212529ea;
}

.icon-menu {
    color: #fff;
    margin: 20px;
    font-size: 2.5rem;
    cursor: pointer;
}

.contenido-header .logo {
    max-width: 35%;
}

.menu {
    display: flex;
    align-items: center;
}

.navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 2.2rem;
    margin-right: 30px;
    display: inline-block;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    /* font-weight: bold; */
}

.navegacion a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding: 5px 10px;
}


/* MENU LATERAL */

#btn-menu {
    display: none;
}

.contenedor-menu {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked~.contenedor-menu {
    opacity: 1;
    visibility: visible;
}

.contenido-menu {
    width: 100%;
    max-width: 40rem;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translate(-100%);
}

#btn-menu:checked~.contenedor-menu .contenido-menu {
    transform: translate(0%);
}

.contenido-menu nav {
    transform: translateY(15%);
}

.contenido-menu nav a {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.contenido-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.contenido-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
}


/* SLOGAN */

.contenedor-slogan {
    /* background-color: #dfe7e7; */
    background-color: #0e1b2c;
}

.contenido-slogan p {
    margin: 0;
    padding: 5rem;
    text-transform: uppercase;
    color: #fff;
    /* color: #1c1c1c; */
    text-align: center;
    font-size: 3rem;
}


/* Who we are? */

.site-nosotros {
    /* background-color: #dfe7e7; */
    margin: 2rem 0;
    padding: 0 19rem;
}

.contenedor-nosotros {
    display: flex;
}

.contenido-nosotros {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-nosotros img {
    max-width: 40rem;
}

.contenido-nosotros h2 {
    margin: 0;
}

.contenido-nosotros h3 {
    margin: 0;
    text-align: center;
}

.contenido-nosotros p {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.7rem;
}


/* MAIN */

.categorias {
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    width: 100%;
    margin-top: 2rem;
    border-radius: 2px;
}

.nav-categorias {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont-nav-categorias {
    background-color: #116f79;
    border-radius: 2rem;
    padding: .5rem 0;
}

.cont-nav-categorias:hover {
    background-color: #43929a
}

.cont-nav-categorias a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    padding: 0 8rem;
    text-align: center;
}

.contendor-publicaciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
    margin: 2rem 0;
}

.publicacion {
    flex-basis: calc(33% - 1rem);
    box-shadow: 0 4px 3px rgba(0, 0, 0, .1);
}

.contenido-publicacion {
    padding: 0 2rem 2rem 2rem;
}

.contenido-publicacion h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.contenido-publicacion p {
    margin: 0;
    font-weight: 200;
}

.contenido-publicacion a {
    display: inline-block;
    text-decoration: none;
    color: #2d348f;
    margin: 2rem 0;
}

.contenido-publicacion a:hover {
    border-bottom: 1px solid #2d348f;
}

.read-more-publicaciones {
    display: flex;
    justify-content: center;
}


/* Ourt tem */

.site-our-team {
    background-color: #dfe7e7;
    margin: 2rem 0;
    padding: 0 19rem;
}

.contenedor-our-team {
    display: flex;
    /* align-items: center; */
    column-gap: 3rem;
}

.contenido-our-team {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-our-team img {
    max-width: 40rem;
    box-shadow: 2px 0 2px rgba(0, 0, 0, .5);
}

.contenido-our-team h2 {
    margin: 0;
}

.contenido-our-team p {
    margin-bottom: 5rem;
    text-align: center;
    font-size: 1.7rem;
}


/* Formulario */

.contenedor-contacto {
    margin-top: 15rem;
}

.encabezado {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.encabezado h2 {
    margin: 0;
}

.encabezado p {
    margin-bottom: 4rem;
}

.contenido-formulario {
    padding: 0 20rem;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.inten-formulario {
    margin-bottom: 1rem;
    background: transparent;
    border: 0.1rem solid #8b8d8f;
    border-radius: 0.2rem;
}

.inten-formulario:not([type="textarea"]) {
    padding: 1.5rem;
}

.interior-formulario {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    color: #1c1c1c;
    font-size: 1.4rem;
    margin: 1.5rem 0;
}


/* FOOTER */

.site-footer {
    /* background-color: #dfe7e7; */
    background-color: #212529;
    margin-top: 3rem;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contendido-footer h3 {
    margin: 0;
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #fff;
}

.contendido-footer span {
    color: #fff;
    font-weight: bold;
}

.contendido-footer p {
    color: #fff;
    margin: 0;
}

.icon-facebook-official,
.icon-instagram,
.icon-twitter-squared {
    text-decoration: none;
    font-size: 5rem;
    /* color: #16a4fa; */
    color: #fff;
}


/* PAGINAS INTERNAS */

.titulo-paginas-internas {
    margin-top: 15rem;
}

.titulo-paginas-internas h2 {
    border-bottom: 1px solid #c7c7c7;
    text-transform: uppercase;
}

.contenedor-card-color {
    margin-bottom: 5rem;
    border: 1px solid #c7c7c7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #fff;
    padding-bottom: 1rem;
}

.contenedor-titulo-card-color {
    background-color: #116f79;
}

.titulo-card-color {
    margin: 0;
    padding: 1rem 2rem;
    color: #fff;
    text-transform: uppercase;
}

.parrafo-card-color {
    padding: 0 4rem;
    font-size: 2rem;
    font-weight: 300;
}


/* ABOUT */

.card-container {
    width: 99%;
    margin: 0 auto;
    margin-top: 6rem;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    grid-template-areas: ".      card1   .    " "card2  card1   card3" "card2  card4   card3" ".      card4   .    ";
}

.card-item {
    padding: 20px;
    background: #fff;
    border-top: 5px solid #43929a;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-parrafo {
    text-align: center;
}

.card-item:nth-last-of-type(1) {
    grid-area: card1;
}

.card-item:nth-last-of-type(2) {
    grid-area: card2;
}

.card-item:nth-last-of-type(3) {
    grid-area: card3;
}

.card-item:nth-last-of-type(4) {
    grid-area: card4;
}


/* Team */

.nav-menu-item {
    padding: 1rem;
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.inten-menu-team {
    padding: 1rem 0;
}

.inten-menu-team:hover {
    background-color: #0a464d;
    border-radius: 2rem;
}

.inten-menu-team a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    padding: 0 4rem;
    text-align: center;
    display: inline-block;
}

.contenedor-integrantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2rem;
    margin: 2rem 0;
    padding: 0 1rem;
}

.info-integrante-team {
    padding: 0 2rem 2rem 2rem;
    text-align: center;
}

.info-integrante-team a {
    display: inline-block;
    text-decoration: none;
    color: #3218a8;
    margin: 2rem 0;
    font-size: 2rem;
}

.info-integrante-team a:hover {
    color: #1f1f1f;
}